img {
    border-radius: 6px;
}

img:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease; /* added transition property */
}

blockquote {
    border: 2px solid;
    width: fit-content;
    background-color: pink;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 3px;
}

ol, ul {
    color: crimson;
    font-size: 1em;
    line-height: 1.5;
}

ul {
    background-image: url(Stare.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    list-style-type: square;
}

html {
    background: url(cat.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

pre#poem {
    color: darkgreen;
    font-size: 1rem;
    background-color: pink;
    width: max-content;
    border-radius: 10px;
}

@keyframes move {
  from {
    transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

.word {
  position: fixed;
  top: 120px;
  left: 120px;
  font-size: 24px;
  animation: move 5s infinite linear;
}
